
.package_builder_project_table td {
  padding:0px;
}
.package_builder_project_table .form-item {
  margin:0px;
  padding:0px;
}

.package_builder_project_name, 
.package_builder_module_name, 
.package_builder_project_remove {
  white-space: nowrap;
  font-weight:bolder;
}

.package_builder_project_remove {
  text-align:right;
}

.package_builder_module_header {
  font-weight:bolder;
}

.package_builder_module_row {
  background-color:#DDDDDD;
}
.package_builder_module_subrow {
  border-top:1px solid #DDDDDD;
  border-bottom:1px solid #DDDDDD;
}
.package_builder_theme_row {
  background-color:#95B791;
}

.package_builder_existing_projects ul li{
  display:inline;
}